{% extends 'base.html.twig' %}

{% block body %}
<h1>Messages</h1>

{% for user in users if user.id != app.user.id %}
<a href="{{ path('messages_new', { 'recepteur': user.id}) }}">
  <img src="" alt="" /> {{user.username}}
</a>
<br><br>
{% endfor %}

{% endblock %}
